flow
[
    {
        "id": "947b03d4.4b148",
        "type": "tab",
        "label": "Weather Station",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e451f332.b0d2",
        "type": "http request",
        "z": "947b03d4.4b148",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "{{{payload_url}}}",
        "tls": "",
        "x": 1170,
        "y": 60,
        "wires": [
            [
                "15fa809.3f9507f"
            ]
        ]
    },
    {
        "id": "e6719e58.c5a26",
        "type": "http response",
        "z": "947b03d4.4b148",
        "name": "",
        "statusCode": "200",
        "headers": {
            "Content-Type": "application/json"
        },
        "x": 800,
        "y": 100,
        "wires": []
    },
    {
        "id": "f9d74a01.398788",
        "type": "template",
        "z": "947b03d4.4b148",
        "name": "build hub response",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"localtime\":\"{{timestr}}\",\"checkversion\":\"224\"}",
        "output": "str",
        "x": 630,
        "y": 100,
        "wires": [
            [
                "e6719e58.c5a26"
            ]
        ]
    },
    {
        "id": "aadd0bbf.ea7f18",
        "type": "function",
        "z": "947b03d4.4b148",
        "name": "get time",
        "func": "var d = new Date();\nvar n = d.toLocaleTimeString();\nmsg.timestr = n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 100,
        "wires": [
            [
                "f9d74a01.398788"
            ]
        ]
    },
    {
        "id": "29124a61.11d876",
        "type": "http in",
        "z": "947b03d4.4b148",
        "name": "",
        "url": "weatherstation/updateweatherstation",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 60,
        "wires": [
            [
                "39efe2fb.295f6e",
                "aadd0bbf.ea7f18",
                "b3749e8c.05941"
            ]
        ]
    },
    {
        "id": "859b710b.f237a",
        "type": "join",
        "z": "947b03d4.4b148",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "60",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 730,
        "y": 60,
        "wires": [
            [
                "c5b2e535.04e208"
            ]
        ]
    },
    {
        "id": "46348cc7.486324",
        "type": "template",
        "z": "947b03d4.4b148",
        "name": "",
        "field": "payload_url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "https://weatherstation.wunderground.com/weatherstation/updateweatherstation.php?ID={{payload.id}}&PASSWORD={{payload.pw}}&dateutc=now&humidity={{payload.humidity}}&tempf={{payload.tempf}}&windspeedmph={{payload.windspeedmph}}&winddir={{payload.winddir}}&rainin={{payload.rainin}}&dailyrainin={{payload.dailyrainin}}&baromin={{payload.baromin}}&dewptf={{payload.dewpoint}}&action=updateraw\n",
        "output": "str",
        "x": 1020,
        "y": 60,
        "wires": [
            [
                "e451f332.b0d2"
            ]
        ]
    },
    {
        "id": "15fa809.3f9507f",
        "type": "debug",
        "z": "947b03d4.4b148",
        "name": "Debug weatherUnderground Response",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1420,
        "y": 60,
        "wires": []
    },
    {
        "id": "c5b2e535.04e208",
        "type": "function",
        "z": "947b03d4.4b148",
        "name": "add dewpoint",
        "func": "if(msg.environment !== null)\n\t{\n\t\tvar temp2 = msg.payload.tempf;\n\t\tvar r = msg.payload.humidity;\n\t  \n\t\tif(temp2 !==null && !isNaN(temp2)  && r !==null && !isNaN(r))\n\t   \t{\n\t\t    \n\t\t    var temp = -1.0*temp2;\n\t\t    es = 6.112*Math.exp(-1.0*17.67*temp/(243.5 - temp));\n\t\t    ed = r/100.0*es;\n\t\t    eln = Math.log(ed/6.112);\n\t\t    td = -243.5*eln/(eln - 17.67 );\n\t\t    msg.payload.dewpoint = parseFloat(td.toFixed(2));\n\t\t}\n\t}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 870,
        "y": 60,
        "wires": [
            [
                "46348cc7.486324"
            ]
        ]
    },
    {
        "id": "39efe2fb.295f6e",
        "type": "function",
        "z": "947b03d4.4b148",
        "name": "check device ID, add ID and Key",
        "func": "if(msg.payload.id == \"YOURDEVICEID\") {\n\t\t msg.payload.id = \"YOURID\";\n         msg.payload.pw = \"TYOURKEY\";\n         return msg;\n} else { node.error(\"Received a message from an invalid Device ID\", msg);\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 60,
        "wires": [
            [
                "859b710b.f237a"
            ]
        ]
    },
    {
        "id": "b3749e8c.05941",
        "type": "debug",
        "z": "947b03d4.4b148",
        "name": "Debug Hub Messages",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 500,
        "y": 140,
        "wires": []
    }
]
